<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOG_DIR">logs</Property>
    <Property name="LOG_FILE">app.log</Property>
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n</Property>
  </Properties>
  <Appenders>
    <RollingFile name="File"
                 fileName="${LOG_DIR}/${LOG_FILE}"
                 filePattern="${LOG_DIR}/app-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_DIR}" maxDepth="1">
          <IfFileName glob="app-*.log.gz"/>
          <IfLastModified age="7d"/>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
    <Error name="Error" target="SYSTEM_ERR">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Error>    
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="File"/>
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Error"/>
    </Root>
  </Loggers>
</Configuration>
